<footer>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <ul>
          <li>
            <a href="#">Acerca de nosotros</a>
          </li>
          <li>
            <a href="#">Descarga tu poliza</a>
          </li>
          <li>
            <a href="#">Términos y condiciones</a>
          </li>
        </ul>
      </div>
      <div class="col-6 text-center">
        <h5>Síguenos en nuestras redes sociales</h5>
        <div class="social-media">
          <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
          <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="copy">Copyright {{ date }}</div>
</footer>
