<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
  <div class="d-flex py-2">
    <button
      class="navbar-toggler border-0 p-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDarkDropdown"
      aria-controls="navbarNavDarkDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list"></i>
    </button>

    <a class="navbar-brand m-0" href="#"
      ><img src="/assets/images/logo.svg" width="200" alt=""
    /></a>
  </div>
  <div class="collapse navbar-collapse p-4" id="navbarNavDarkDropdown">
    <ul class="navbar-nav menu">
      <li>
        <div class="dropdown menu-item">
          <button
            class="dropdown-toggle submenu-button d-flex align-items-center justify-content-between border-0 p-0"
            type="button"
            id="subMenu-about"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Acerca de nosotros
          </button>
          <ul
            class="dropdown-menu submenu-list"
            aria-labelledby="subMenu-about"
          >
            <li><a class="dropdown-item" href="#">Misión</a></li>
            <li><a class="dropdown-item" href="#">Visión</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#" target="_blank" class="submenu-button"
          >Descarga tu Poliza</a
        >
      </li>
      <li>
        <a
          href="/assets/documents/terminos-y-condiciones.pdf"
          target="_blank"
          class="submenu-button"
          >Términos y condiciones</a
        >
      </li>
    </ul>
  </div>
</nav>
